.main__title {
    color: hotpink;
}

.position__container > .position__box {
    height: 90px;
    width: 90px;
    border: 1px solid black;
    display: inline-block;
}

.position__box--green {
    background-color: green;
}

.position__box--red {
    background-color: red;
    position: relative;
    top: 40px;
    left: 40px;
}

.position__box--blue {
    background-color: blue;
    position: absolute;
    top: 10px;
}

.position__box--hot-pink {
    background-color: hotpink;
    position: sticky;
    top: 0px;
}

.position__box--purple {
    background-color: purple;
    position: fixed;
    right: 10px;
    bottom: 10px;
}



.position__container > .position__box:hover {
    background-color: yellow;
    color: red;
}
.z-index__image {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
    }

.z-index__secondary-image {
    position: absolute;
    z-index: 1;
}

.animation__button {
    width: 160px;
    height: 30px;
    padding: 5px;
    border: none;   
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.animation__button:hover {
    animation-name: rainbow;    
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {background-color: blue;
    color: white;}
    25% {background-color: red;
    color: black;}
    50% {background-color: orange;
    color: white;}
    75% {background-color: green;
    color: aqua;}
    100% {background-color: purple;
    color: blue;} 
    }
